* {
  --font-color: #353748;
  --btn-color: #678fff;
  color: var(--font-color);
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
}

header ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  margin-right: 0.5em;
}

header ul li {
  margin: 1.5em 0.5em;
}

#ddg-logo {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  width: 665px;
  height: 44px;
  border-radius: 30px;
  margin: 0 auto;
}

#search-input {
  flex-grow: 2;
  font-size: 18px;
  font-weight: 400px;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

a.btn-div {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: var(--btn-color);
  text-decoration: none;
  padding: 0.8em 1.2em;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  width: 235px;
  height: 42px;
  text-align: center;
}

strong {
  font-weight: 700;
}

.add-extention-cta {
  width: 525px;
  text-align: center;
}
