* {
  --font-color: #353748;
  --btn-color: #678fff;
  color: var(--font-color);
  box-sizing: border-box;
}

html {
  background-color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}

header ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 0.5em;
  padding-left: 0;
}

header ul li {
  margin: 1.5em 0.5em;
}

#ddg-logo {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.searchbar {
  background-color: white;
  border: #d3d3d3 solid 1px;
  border-radius: 2px;
  display: flex;
  height: 44px;
  justify-content: space-between;
  margin: 2.5em auto;
  width: 665px;
}

#search-input {
  border: none;
  flex-grow: 2;
  font-size: 18px;
  font-weight: 400px;
}

input[type="text"] {
  box-sizing: border-box;
  padding-left: 15px;
}

input::placeholder {
  color: #b3b2b2;
}
input:focus {
  outline-width: 0;
}

.search-btn:hover {
  cursor: pointer;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

p {
  font-size: 17px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

.add-extention-cta {
  margin: 1em auto;
  text-align: center;
  width: 525px;
}

a.btn-div {
  background-color: var(--btn-color);
  border-radius: 12px;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 700;
  height: 42px;
  margin: 2em auto;
  padding: 0.8em 1.2em;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.search-btn {
  background-color: transparent;
  border: none;
}

strong {
  font-weight: 700;
}

.info-title {
  margin-top: 4em;
}
